extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Rafael Lumang

        p Full Stack JavaScript Developer


        .about-bio

          p JavaScript, CSS, HTML, with a background in Digital Marketing and a wealth of creativity! Work with me and let's make the internet beautiful. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Web Design
          li Git and Github
          li Copywriting
          li Marketing
          li Content Creation
          li Video Editing
          li Express
        

        h6 Contact Info

        ul
          li 123-456-7890
          li plzhiremeasap@gmail.com

        a.btn-link(href='linkedin.com') LinkedIn
        a.btn-link(href='github.com') GitHub
        a.btn-link(href='twitter.com') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back