extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p A collection of coding projects exhibiting my Full-Stack Javascript skills! 


  article.portfolio-project-thumbs
    .projects-box.box.grid

     each project in data
      .cell
        a(href= `/projects/${project.id}`, target= "_blank")
          img.thumbnail(src= `/static${project.image_urls[0]}`, alt = `Thumbnail ${project.project_name}`)
          h5 #{project.project_name}


